* {
  box-sizing: border-box;
}

p, .nav {
  font-family: geneva;
  font-size: 18px;
}

p, .nav, h1, h2 {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-family: brush script mt;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.nav a {
  padding: 6px;
  border: 2px solid teal;
  border-radius: 2px;
  color: white;
  background: teal;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.nav a:hover {
  color: teal;
  background: white;
}

.nav {
  padding-top: 30px;
  background-color: rgba(0,128,128,0.5);
  padding-bottom: 30px;
}

p {
  padding:
}
